.categories__title {
    background: rgb(78, 74, 74);
    color: white;
    font-size: 19px;
    margin-top: -16px;
    position: absolute;
    padding-left: 30px;
    width: 100%;
  }
  /*
  ::-webkit-scrollbar {
    display: none;
}*/
